body{
    background-color: #F6F2D4;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 6% ;
  }
h1{
  color: #3F72AF;
}
h3{
  color: #3F72AF;
}
tr{
  padding-right: 6px;
}
.sachit_img{
  border-radius: 100%;
  border-style: solid;
  border-color: #3F72AF;
}
.sachit_img:hover{
  border-radius: 100%;
  border-style: dotted;
}
.foot_text{
  color: white;
}
footer{
  height: 200px;
  width: 100%;
  border-top: solid;
  background-color: #F6F2D4;
}
